:root {
  --main-color: black;
}
thead {
  background-color: var(--main-color);
  color: white;
}
.btn-primary {
  background-color: var(--main-color);
}
td > button {
  margin-left: 5px;
}
a.active {
  color: var(--main-color) !important;
  font-weight: 400;
}
.card-form {
  position: sticky;
  left: 0;
  top: 40px;
}
